<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- 导出方法，指定为开发模式 -->
    <key>method</key>
    <string>development</string>
    <!-- 团队 ID，需替换为你的苹果开发者团队 ID -->
    <key>teamID</key>
    <string>CAXWWGW2TG</string>
    <!-- 是否上传 Bitcode，根据需求设置 -->
    <key>uploadBitcode</key>
    <false/>
    <!-- 是否上传符号文件，根据需求设置 -->
    <key>uploadSymbols</key>
    <false/>
    <!-- 表示采用自动签名方式 -->
    <key>signingStyle</key>
    <string>automatic</string>
</dict>
</plist>
